@model Scarpa

@{
    ViewData["Title"] = "Dettagli Scarpe";
}

<h4 class="text-center mb-4 text-primary">Dettagli della Scarpa</h4>
<a href="@Url.Action("Index", "Scarpa")" class="btn btn-primary m-3">Torna alla lista</a>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
          
            <img src="@Model.Img" class="img-fluid rounded shadow-lg" alt="@Model.Nome">
        </div>

        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <h2 class="text-secondary">Dettagli</h2>
                    <h1 class="text-dark">@Model.Nome</h1>
                    <p><strong class="text-muted">Prezzo:</strong> € @Model.Prezzo.ToString("C")
                    </p>
                    <p><strong class="text-muted">Descrizione:</strong> @Model.Descrizione</p>
                </div>
             
               
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <h5 class="mt-3">Immagini aggiuntive:</h5>

        <div class="col-md-6 col-12 mb-3">
            <img src="@Model.AddImg1" class="img-thumbnail shadow-sm w-100 rounded" alt="Altra immagine">
        </div>

        <div class="col-md-6 col-12 mb-3">
            <img src="@Model.AddImg2" class="img-thumbnail shadow-sm w-100 rounded" alt="Altra immagine">
        </div>
    </div>
</div>
