
@model ScarpeView
@{
    ViewData["Title"] = "Scarpe";
}

<h4 class="text-center mb-4 text-primary">Lista Scarpe</h4>

<div class="container">
    <a class="btn btn-primary mb-4 " asp-controller="Scarpa" asp-action="Aggiungi">Aggiungi</a>

    <div class="row">
        @foreach (var scarpa in Model.Scarpe)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg rounded-3 w-100">
                
                    <img src="@scarpa.Img" class="card-img-top" style="height: 300px; object-fit: cover; border-radius: 0.5rem;" alt="@scarpa.Nome">

                    <div class="card-body">
                      
                        <h5 class="card-title text-center text-dark fw-bold">@scarpa.Nome</h5>
                        <p class="card-text text-center fw-normal text-muted"><strong>Prezzo:</strong> € @scarpa.Prezzo</p>
                    </div>

            
                    <div class="row">
                        <div class="d-flex justify-content-around mb-3">
                 
                            <a class="btn btn-outline-secondary btn-sm px-4" asp-controller="Scarpa" asp-action="Dettagli" asp-route-id="@scarpa.Id">Dettagli</a>
                            <a class="btn btn-outline-secondary btn-sm px-4" asp-controller="Scarpa" asp-action="Modifica" asp-route-id="@scarpa.Id">Modifica</a>
                            <a class="btn btn-outline-secondary btn-sm px-4" asp-controller="Scarpa" asp-action="Elimina" asp-route-id="@scarpa.Id">Elimina</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
